set 0 72	//H
set 1 101 	//e
set 2 108 	//l
set 3 108 	//l
set 4 111 	//o
set 5 44 	//,
set 6 32  	//(space)
set 7 87  	//W
set 8 111  	//o
set 9 114  	//r
set 10 108  //l
set 11 100 	//d
set 12 33 	//!
set 13 10	//(next line)
set 14 0	//(escape)

print 0		//print memory 0 ~ 14 (Hello, World!)