set 0 7		//put 7 in 0th memory
set 1 -4	//put -4 in 1st memory
set 2 0		//2nd memory will store result of subtraction

set 3 48	//put 48 (0 in ascii) in 3rd memory

set 4 10	//next line (\n)
set 5 0		//escape (\0)

add 0 1 2	//0th mem + 1st mem = 2nd mem
add 2 3 3	//2nd mem + 3rd mem (0 in ascii) = 3rd mem

print 3		//print 3~5th mem.